@{
    Layout = "_Layout";
}

<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('@Url.Content("~/img/home-bg.jpg")');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Tentang Kami</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@Url.Content("~/img/about.jpg"));">
            </div>
            <div class="col-md-6 wrap-about py-md-5 ftco-animate">
                <div class="heading-section p-md-5">
                    <h2 class="mb-4">Tim - Semua Tentang Kerjasama, tanpa itu kami tidak bergerak.</h2>
                    <p>Jika kami adalah tim yang bagus dan tahu apa yang ingin kami lakukan, salah satu dari kami dapat mengalahkan sepuluh dari mereka.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Tim Hebat untuk Hasil Hebat</span>
                <h2 class="mb-3">Tim Kami</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">"The best code is no code at all."</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(@Url.Content("~/img/profiles/fahmi.png"))"></div>
                                    <div class="pl-3">
                                        <p class="name">Fahmi Noor Fiqri</p>
                                        <span class="position">Developer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">"There is no God, but Allah"</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(@Url.Content("~/img/profiles/bima.png"))"></div>
                                    <div class="pl-3">
                                        <p class="name">Bima Gusti Pratama</p>
                                        <span class="position">UI/UX</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">"If you are given a choice think according to ability and you know the risk of your choice."</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(@Url.Content("~/img/profiles/tio.png"))"></div>
                                    <div class="pl-3">
                                        <p class="name">Tio Aulia Prabowo</p>
                                        <span class="position">Quality Assurance</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">"Do what you love, love what you do."</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(@Url.Content("~/img/profiles/ghina.png"))"></div>
                                    <div class="pl-3">
                                        <p class="name">Ghina Aulia Fitria</p>
                                        <span class="position">Scrum Master</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">"If it’s not meant to be then it’s not mean to be"</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(@Url.Content("~/img/profiles/nadya.png"))"></div>
                                    <div class="pl-3">
                                        <p class="name">Nadya Annisa Azzahra</p>
                                        <span class="position">Product Researcher</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>